<!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <section>
                                    <div class="col-lg-4 col-xs-12">
                                        <p> Siguenos </p>
                                    </div>
                                </section>
                                <br>
                                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"><img src="assets/images/descarga.png"> </i></a></li>
                                <li><a href="https://www.instagram.com/?hl=es-la" target="_blank"><i class="fa fa-instagram"><img src="assets/images/instalogo.png"></i></a></li>
                                <li><a href="https://web.whatsapp.com/" target="_blank"><i class="fa fa-twitter"><img src="assets/images/whatsapp-icon.png"></i></a></li>
                                <li><a href="#top" ><i class="fa fa-linkedin"><img src="assets/images/icono-de-flecha-arriba.png"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="/"><img src="assets/images/sol77.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>Sol Cakes
                        <br>Design: Beth N.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>