
 

    
    <!--  Header  -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        
                        <!-- Logo  -->
                        <a href="/" class="logo">
                            <img src="assets/images/logocakesol2.png" align="Sol Cakes and Cookies">
                        </a>
                        
                        <!--  Menu  -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="active">Inicio</a></li>
                            <li class="scroll-to-section"><a href="/about">Nosotros</a></li>
                           	
                        <!-- 
                            <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                                <ul>
                                    <li><a href="#">Drop Down 1</a></li>
                                    <li><a href="#">Drop Down 2</a></li>
                                    <li><a href="#">Drop Down 3</a></li>
                                </ul>
                            </li>
                        -->
                        <li class="submenu">
                            <a href="/photos">Galeria</a>
                            <ul>
                                <li><a href="/photos">Menu</a></li>
                                
                            </ul>
                        </li>
                            <li class="scroll-to-section"><a href="/chefs">Chefs</a></li> 
                            <li class="submenu">
                                <a href="/order">Contáctanos</a>
                                <ul>
                                    <li><a href="/order">Mapa</a></li>
                                    
                                </ul>
                            </li>
                          
                             
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!--  Menu Fin -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Fin -->
