<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Sol Cakes and Cookies / Pasteles / Eventos / Dulces / Cumpleaños/ República Dominicana/Reposteria </title>



    <!--  CSS  -->
    <link rel="stylesheet" type="text/css" href="assets/css/imagenesbts.css">
    <link rel="stylesheet" href="/assets/css/Solcake.css">
    <link rel="stylesheet" href="assets/css/owl-carousel.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">

    </head>
    
  
    
<!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/slick.js"></script> 
    <script src="assets/js/isotope.js"></script>
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

 
    
    <body >
    

   {{>menu}}
   {{{body}}}
   {{>footer}}
                        

    

  </body>
</html>