        <!--  Sobre Nosotros -->
        <br><br>
        <section class="section" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="left-text-content">
                            <div class="section-heading">
                                <h6>Sobre Nosotros</h6>
                                <h2>Dejaremos Una Deliciosa Pizca De Dulzura En Tu Corazón</h2>
                            
                            </div>
                            
                            <p>Sol Cakes and Cookies expertos en el sabor.  Somos una pasteleria creativa, con postres artesanales horneados con amor. 
                                Nuestro objetivo es darte los mejores postres y la mejor experiencia posible con nosotros. <br><br>
                            </p>
                        
                            <p>
                                Beth Núñez o como le gusta apodarse Sol, es la fundadora de la pastelería Sol cakes and cookies en el 2021, 
                                pero sus inicios datan de tiempo atrás, al compartir sus primeras creaciones con sus seres  queridos , 
                                fue su amor por lo que hacía que la llevó a fundar esta pastelería que todos amamos.
                            </p>
                            
                            <div class="section-heading">
                                <h6>Misión</h6>
                            </div>
                            <p>
                                Nuestra misión es ofrecer la mejor experiencia en sabor y servicio, que nuestros postres lleguen a 
                                sus corazones. 
                            </p>
                            
                            <div class="section-heading">
                                <h6>Visión</h6>
                            </div>
                            <p>
                                Queremos lograr que Sol Cakes and Cookies se convierta en tu familia donde la dulzura nunca falte. 
                                Ser un lugar donde desees cada dia estar donde nuestro personal se inspire en dar lo mejor de sí.
                            </p>
    
                            <div class="section-heading">
                                <h6>Valores</h6>
                            </div>
                            <p>
                                Calidad, Mejora, Responsabilidad, Unión, Amor, Pasión, Respeto y Fé.
                            </p>
                            
                            
                            
    
                                
                            <div class="row">
                                <div class="col-4">
                                    <img src="assets/images/Imagenesmenu/brownnie.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img src="assets/images/Imagenesmenu/caramelo.jpg" alt="">
                                </div>
                                <div class="col-4">
                                    <img src="assets/images/Imagenesmenu/recetas-de-postres-con-galletas-oreo-faciles.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="right-content">
                            <div class="thumb">
                                <!--Video-->
                               <iframe width="560" height="315" src="https://www.youtube.com/embed/ib1V_Z9sjHQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Nosotros Fin -->